.container {
  display: inline-block;
  height: 400px;
  overflow: hidden;
  position: relative;
  
  img {
    width: calc(100%/3);
    padding: 0 5px;
    box-sizing: border-box;
    max-width: 100%;
    height: 100%;
    margin: 5px;
    margin-top: 10px;
    // animation
    transition: 1s all;
    box-shadow: 10px 10px 10px rgba($color: grey, $alpha: 1.0);
    // position: relative;
    

    &:hover {
      transform: scale(1.1, 1.1);
      transition: 1s all;
    }

    &.medaka {
      width: 450px;
      height: 390px;
    }

    &.plants {
    }

    &.ikusei {
      // margin-top: 20px;
      height: 390px;
    }
  }
  a {
    text-decoration: none;
    color: black;
    position: absolute;
    background-color: grey;
    padding: 20px;
    border: 2px solid wheat;
    border-radius: 20px;
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s;
    font-weight: bold;

    &:hover {
      background-position: -100% 0;
      color: #fff;
    }


    &.medaka_detail {
      top: 250px;
      left: 150px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(63, 178, 231) 50%);
    }
    
    &.plants_detail {
      top: 250px;
      right: 48%;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(81, 194, 100) 50%);
    }

    &.ikusei_detail {
      top: 250px;
      right: 200px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(221, 207, 80) 50%);
    }
  }
}
