.container {
  display: inline-block;
  height: 400px;
  overflow: hidden;
  position: relative;

  img {
    width: calc(100% / 3);
    padding: 0 5px;
    box-sizing: border-box;
    max-width: 100%;
    height: 100%;
    margin: 5px;
    margin-top: 10px;
    // animation
    transition: 1s all;
    box-shadow: 10px 10px 10px rgba($color: grey, $alpha: 1);
    // position: relative;

    &:hover {
      transform: scale(1.1, 1.1);
      transition: 1s all;
    }

    &.medaka {
      width: 450px;
      height: 390px;
    }

    &.plants {
    }

    &.ikusei {
      // margin-top: 20px;
      height: 390px;
    }
  }
  a {
    text-decoration: none;
    color: black;
    position: absolute;
    background-color: grey;
    padding: 20px;
    border: 2px solid wheat;
    border-radius: 20px;
    background-position: 0 0;
    background-size: 200% auto;
    transition: 0.3s;
    font-weight: bold;
    max-width: 100%;

    &:hover {
      // 100% incomplete
      background-position: -101% 0;
      color: #fff;
    }

    &.medaka_detail {
      top: 250px;
      left: 150px;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 50%,
        rgb(63, 178, 231) 50%
      );
    }

    &.plants_detail {
      top: 250px;
      right: 48%;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 50%,
        rgb(81, 194, 100) 50%
      );
    }

    &.ikusei_detail {
      top: 250px;
      right: 200px;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 50%,
        rgb(221, 207, 80) 50%
      );
    }
  }
}

.slider {
  margin-top: 50px;
}

#picture {
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
  text-align: center;
}
#picture input[type="radio"] {
  display: none;
}
#picture label {
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
}
#bg-pic {
  background: #fff;
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  /* ボックスのはみ打た部分を隠す */
}
/* スライダー画像の位置を比率で指定 */
#pic1:checked ~ #bg-pic .inside {
  margin-left: 0;
}
#pic2:checked ~ #bg-pic .inside {
  margin-left: -100%;
}
#pic3:checked ~ #bg-pic .inside {
  margin-left: -200%;
}
#pic4:checked ~ #bg-pic .inside {
  margin-left: -300%;
}
#bg-pic .inside {
  transition-duration: 0.8s;
  /* アニメーションの開始から終了までの時間を指定 */
  width: 400%;
  line-height: 0;
  height: 300px;
}
#bg-pic .pic {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 上３行でボックスをど真ん中に指定 */
  height: 100%;
  background-size: cover;
}
/* 画像urlを指定 */
#bg-pic .pic_1 {
  background-image: url("../img/esa.jpg");
}
#bg-pic .pic_2 {
  background-image: url("https://images.unsplash.com/photo-1442323794357-25b2ec110967?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
}
#bg-pic .pic_3 {
  background-image: url("https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
}
#bg-pic .pic_4 {
  background-image: url("https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
}
/* スライダーのコントロールボタンを指定 */
#slide-controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#slide-controls label {
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
  /* 透明度を指定 */
  transform: scale(1, 1);
  /* XY軸(横縦)の伸縮率を指定 */
  transition: opacity 0.2s ease-out;
  /* アニメーションの時間を指定 */
}
#slide-controls label:hover {
  opacity: 1;
  /* 透明度を指定 */
  transform: scale(1.2, 1.2);
  /* XY軸(横縦)の伸縮率を指定 */
}
#pic1:checked ~ #slide-controls label:nth-child(2),
#pic2:checked ~ #slide-controls label:nth-child(3),
#pic3:checked ~ #slide-controls label:nth-child(4),
#pic4:checked ~ #slide-controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -80px 0 0;
  display: block;
}
#pic1:checked ~ #slide-controls label:nth-last-child(2),
#pic2:checked ~ #slide-controls label:nth-last-child(3),
#pic3:checked ~ #slide-controls label:nth-last-child(4),
#pic4:checked ~ #slide-controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -80px;
  display: block;
}
/* スライダーの送りボタンを指定 */
#slide-buttons #btn {
  width: 70px;
  margin: 0 10px;
  font-size: 13px;
  box-shadow: -3px 3px 5px 1px gray;
  /* ボックスに影をつける（左から水平方向の長さ、垂直方向の長さ、ぼかしの長さ、広がりの長さ、色） */
  transition-duration: 0.5s;
  /* アニメーションの開始から終了までの時間を指定 */
}
#slide-buttons {
  display: inline-block;
  height: 50px;
  margin: 150px 10px;
  transform: scale(1, 1);
  /* XY軸(横縦)の伸縮率を指定 */
  width: auto;
}
#slide-buttons label {
  color: #788188;
  cursor: pointer;
  display: inline-block;
  line-height: 4.25em;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0 1em;
}
#slide-buttons label:hover {
  transform: scale(1.1, 1.1);
  cursor: default;
  /* XY軸(横縦)の伸縮率を指定 */
}
/* ナビゲーションボタンをcheckした時の背景色と文字色を指定 */
#pic1:checked ~ #slide-buttons label:nth-child(1),
#pic2:checked ~ #slide-buttons label:nth-child(2),
#pic3:checked ~ #slide-buttons label:nth-child(3),
#pic4:checked ~ #slide-buttons label:nth-child(4) {
  background: #444;
  color: white;
}
